<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address" style="display: none;">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
<!-- DOB DISABLED
        <div class="div-virtuspay-dob">
            <label for="virtuspay-dob" class="label">
                <span>Data de nascimento&nbsp;&nbsp;</span>
            </label>
            <input type="text" size="30" name="virtuspay-dob"  class="input-text" id="virtuspay-dob"
                   style="max-width: 100px!important;min-width: 100px!important;"
                   data-bind="attr: { value: dobMask(), validade: dobValidate(), change: dobMask(), visible: true"/>
        </div>
-->
        <div class="virtuspay-logo">
            <img data-bind="attr: { src: getLogo(), style: { width: '200px' } }" width="200px" />
        </div>
        <div class="virtuspay-consult-installments">
            <p><b>Descubra as condições que temos para você e parcele<br>
                sua compra no boleto em até 24x com a VirtusPay</b></p>
            <div style="text-align: center;">
            <button data-bind="click: getQuote" id="consult_installments"
                    style="padding-top: 20px;padding-bottom: 20px;
                    margin: 20px;font-size: 1.8rem;"
                    class="virtuspay_button">CONSULTAR PARCELAS</button><br>
            </div>
            <div class="virtuspay-important">
                <i class="fa fa-exclamation-triangle" style="color:#1a34c8"></i> <b>Importante</b>
            </div>
            * Iremos usar os dados de seu cadastro aqui na loja para consultar as condições que temos para você<br>
            * Sujeito a análise de crédito
        </div>
        <div class="virtuspay-installments-list" style="display: none;">
            <div class="virtuspay-oba virtuspay-important" style="display: none;">Oba! Temos essas condições pra você!</div>
<!--            <p>Escolha em quantas vezes deseja parcelar</p> -->
            <select name="virtuspay-installments" id="virtuspay-installments" data-bind="event:{ select: changeSelect()}">
                <option value="">Escolha em quantas vezes deseja parcelar</option>
            </select><br><br>
            <div class="virtuspay-oba" style="display: none;">
                <p><b>Próximos passos:</b></p>
                <p><i class="fas fa-check-circle" style="color:#1a34c8"></i> Escolha em quantas vezes deseja parcelar</p>
                <p><i class="fas fa-check-circle" style="color:#1a34c8"></i> Siga os próximos passos para finalizar seu pedido</p>
                <p><i class="fas fa-check-circle" style="color:#1a34c8"></i> Pague a entrada para liberar sua compra na loja!</p>
            </div>
            <div id="virtuspay-installment-details" style="display: none;">

            </div>
            <input type="hidden" name="virtuspay-quote-id" id="virtuspay-quote-id" value="">
        </div>
        <div class="virtuspay-message" style="display: none;" >
        </div>
        <script>
            document.getElementById("consult_installments").addEventListener("click", function (event) {
                event.preventDefault();
                this.getQuote();
            });
        </script>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" id="virtuspay-placeorder"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
        <div class="virtuspay-attention-div" style="display: none;" >
            <div class="virtuspay-attention-important" style="margin-bottom: 10px;">
                <i class="fa fa-exclamation-triangle" style="color:#1a34c8"></i><b> Importante</b>
            </div>
            <div class="virtuspay-attention-txt">
                * Fique atento ao seu E-mail e WhatsApp! Iremos pedir a validação de seus dados para finalização de seu pedido.
            </div>
        </div>
    </div>
</div>

