.div-virtuspay-dob {
    padding-bottom: 10px;
}

.virtuspay-consult-installments {
    padding-top: 5px;
}

#virtuspay-dob {
    width: 50px;
    min-width: 50px;
}

.virtuspay_button, .virtuspay_button:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffdb00;
    color: #1a34c8;
    border-radius: 0%;
    border-width: 0;
}

.virtuspay-important {
    font-weight: bold;
    padding-bottom: 5px;
}

.virtuspay-logo {
    width: 100%;
    text-align: right;
}

#virtuspay-placeorder {
    background-color: #ffdb00;
    color: #1a34c8;
    border-radius: 0%;
    border-width: 0;
}
