.div-virtuspay-dob {
    padding-bottom: 10px;
}

.virtuspay-consult-installments {
    padding-top: 5px;
}

#virtuspay-dob {
    width: 50px;
    min-width: 50px;
}

.virtuspay_button {
    padding-bottom: 5px;
    background-color: yellow;
    color: blue;
    text-
}

.virtuspay-important {
    font-weight: bold;
}
